doctype
html
    head
        link(href="/favicon-ok.ico", rel="shortcut icon", type="image-x-conn")
        link(href="/css/site.css" rel="stylesheet")
        link(href="/vendor/toastr/toastr.css" rel="stylesheet")
        link(href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    body(ng-app='app')
        block main-content
        include scripts